extends templates/layout.pug

block content
    table
        tr
            th UCAS Code
            th Course Name
            th Course Spaces
            th Allocate Space
        for course in courses
            tr
                td= course.ucas_code
                td= course.course_name
                td= course.course_spaces
                td
                    form(action="allocate-a-space", method="POST")
                        input(type="hidden" name="ucas_code" value=`${course.ucas_code}`)
                        button(type="submit") Allocate