extends templates/layout.pug

block content
    div.row
        div.col-xl-12
            if message
                p= message
            else
                p Enter the details for the course you wish to add to the clearing chatbot database.
    div.row
        div.col-xl-12
            form#single-upload-form.needs-validation(action="/upload-one-record", method="post" novalidate)
                div.form-row
                    div.col-md-2
                        label(for="ucas_code") UCAS Code:
                        input#ucas-code.form-control(type='text', name='ucas_code' pattern='[A-Z][0-9][0-9][0-9]' placeholder="G400" required)
                        div.invalid-feedback You have either not entered a value or have entered an invalid UCAS code.
                    div.col-md-4
                        label(for="course_type") Course Type:
                        select#course-type.form-control(name='course_type')
                            option(value="Foundation") Foundation
                            option(value="Degree Apprenticeship") Degree Apprenticeship
                            // list obtained from https://www.aber.ac.uk/en/undergrad/before-you-apply/ba-bsc-ma-msc-phd/
                            option(value="BSc" selected) BSc
                            option(value="BA") BA
                            option(value="BEng") BEng
                            option(value="MBA") MBA
                            option(value="MBChB") MBChB
                            option(value="LLB") LLB
                            option(value="PhD") PhD
                            option(value="MA") MA
                            option(value="MSc") MSc
                            option(value="MPhil") MPhil
                            option(value="MRes") MRes
                            option(value="MArts") MArts
                            option(value="MComp") MComp
                            option(value="MEng") MEng
                            option(value="MMath") MMath
                            option(value="MPhys") MPhys
                            option(value="MSci") MSci
                            option(value="LLM") LLM

                        div.invalid-feedback You have not selected a degree type
                    div.col-md-6
                        label(for="course_name") Course Name:
                        input#course-name.form-control(type="text", name="course_name" placeholder="Course Name" required)
                        div.invalid-feedback You have not entered a value. Please enter the name of the course.
                div.form-group
                    label(for="description") Description:
                    textarea#description.form-control(name="course_description" rows="4" cols="50" placeholder="Course Description" required)
                    div.invalid-feedback You have not entered a value. Please enter a description of the course.
                div.form-group
                    label(for="entry_requirements") Entry Requirements:
                    textarea#entry-requirements.form-control(name="entry_requirements" rows="4" cols="50" placeholder="Entry Requirements" required)
                    div.invalid-feedback You have not entered a value. Please enter the entry requirements of the course.                
                div.form-group
                    label(for="tuition_fees") Tuition Fees:
                    textarea#tuition-fees.form-control(name="tuition_fees" rows="4" cols="50" placeholder="Tuition Fees" required)
                    div.invalid-feedback You have not entered a value. Please enter the tuition fees for the course.
                div.form-row
                    div.col
                        label(for="course_spaces") Number of Spaces:
                        input#course-space.form-control(type="number" name="course_spaces" placeholder="1" required)
                        div.invalid-feedback You have not entered a value. Please enter the number of spaces available.                    
                    div.col
                        label(for="website") Website:
                        input#website.form-control(type="text", name="course_website"  placeholder="Course Website" required)
                        div.invalid-feedback You have not entered a value. Please enter the course website.
                div.form-group
                    label(for="contact_details") Contact Details:
                    textarea#contact-details.form-control(name="contact_details" rows="4" cols="50" placeholder="Course Director or School contact details" required)
                    div.invalid-feedback You have not entered a value. Please enter contact details for the course director/school of study.                
                button#upload-course.btn.btn-primary(type="submit") Upload Course

    script.
        $(function(){
            // grab the form
            var form = $('#single-upload-form');
            form.submit(function(e){
                // get the raw element & check if any constraints are not met
                if(form[0].checkValidity() === false){
                    // stop the form from being submitted
                    e.preventDefault();
                    e.stopPropagation();
                }
                form.addClass('was-validated');
            })

            // check the ucas code input
            $('#ucas-code').change(function(){
                // if the text does not match the regex
                if(!($(this).val().match(/[A-Z][0-9][0-9][0-9]/))){
                    // add '.was-validated' class to show '.invalid-feedback' class divs
                    $(this).parent().addClass("was-validated");
                }
            })
        })