extends templates/layout.pug

block content
    div.row
        div.col-xl-12
            p Please format your course as below:
            code UCAS Code, Course Name, Course Description, Course Type(BA, BSc, PhD), Course Spaces, Entry Requirements, Tuition Fees, Contact Details, Website