extends templates/layout.pug

block content
    div.row
        div.col-xl-12
            h2 Upload new courses
            div.jumbotron
                p Upload a CSV file that meets the following format: