extends templates/layout.pug

block content    
    div.row 
        div.col-xl-12
            h1.text-center= title
    div.row.justify-content-center
        div.jumbotron
            h2.display-4 Introduction
            p.lead This is the management system for the clearing chatbot system. It will allow you to upload a single course or a batch of courses (in a CSV file) to the clearing chatbot database.
            p.lead Select either option below to get started.

    div.row.justify-content-center
        div.col-md-6.text-center
            a(href="/single-upload", class="btn btn-primary") Add a new degree programme
        div.col-md-6.text-center
            a(href="/batch-upload", class="btn btn-primary") Add a batch of degree programmes (CSV upload)