extends templates/layout.pug

block content
    h1= "Clearing Chatbot Upload"
    
    form(action="", method="post")
        div.form-group
            label(for="courseID") UCAS Code
            input#ucascode.form-control(type='text', name='ucascode')