extends templates/layout.pug

block content    
    div.row.justify-content-center
        div.jumbotron
            h2 Introduction
            p This is the management system for the clearing chatbot. It will allow you to upload course information so the clearing chatbot can use it. 

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME" chat-title="Clearing-Bot" agent-id="3246b9f6-7370-45fc-90f3-05fcf7895761" language-code="en"></df-messenger>